.contenedorHeader {
  height: 479px;
  background-color: #f2f2f2;
}

.banner1 {
  width: 100%;
  height: 412px;
}

.titleHeader {
  position: absolute;
  left: 9.17%;
  top: 332px;
  font-size: 64px;
  line-height: 80px;
  color: #ffffff;
}
